* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

#wrapper {
  width: 1170px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.logo {
  width: 20%;
  float: left;
}

.menu-item {
  width: 75%;
}

.menu-item ul {
  float: right;
  list-style: none;
  /* remove dots */
}

.menu-area {
  overflow: hidden;
}

.menu-area ul li {
  display: inline-block;
}

.menu-area ul li a {
  display: inline-block;
  padding: 10px 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.slick-slide img {
  /* object-fit: cover; */
  /* height: 50vh; */
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
  z-index: 9;
}

.slick-dots {
  bottom: 120px;
}
/* .slick-dotted.slick-slider {
  margin-bottom: 0;
} */


.slick-dots li button:before {
  font-size: 40px;
  color: white;
}
